<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
        <title>{{title}}</title>
    </head>

    <body>
        <h1><p>Kalkulator walut</p></h1>
        
        <form action="" method="POST">
            <label>Wybierz walutu:</label>
            <select name="currency" class="Input" id="currency">
                {% for o in data %} 
                <option value="{{o.bid}}">{{ o.code }}</option>
                {% endfor %}
            </select>
            <p>
                <label>Wprowadz ilość:</label>
            <input type="text" id="many" name="many">
            </p>
            <p>
               <h3>Rezultat: {{result}}</h3>
            </p>
    
            <input type="submit" value="Oblicz" name="Oblicz">
             
        </form>
       
    </body>

</html>